@font-face {
  font-family: "Outrun-future";
  src: 
  url("../media/fonts/Outrun-future.otf") format("opentype");
}
@font-face {
  font-family: "Commondore";
  src: 
  url("../media/fonts/Commodore-Angled-v1.2.ttf") format("truetype");
}

// Header Font Family
$header-font: "Outrun-future", sans-serif;
$text-font: "Commondore", sans-serif;

// Font Sizes Headers
$h1: 5rem;
$h2: 4rem;
$h3: 1.5rem;
$h4: 0.89rem;
$li: 1.2rem;
$p: 1rem;