// Background Colors
$bg-primary: #FF668D;
$bg-secondary: #162452;
$bg-thirdary: #D9FFFF;
$bg-menu: rgba(255, 102, 141, 0.73);

// Header Text Colors
$h1-primary: #652342;
$h2-primary: #210D34;
$h2-secondary: #D9FFFF;

// Text Colors
$p-primary: #91D9FF;
$p-secondary: #FF668D;
$p-thirdary: #162452;

// Shadows
$h1-shadow: 3px 2px 4px #E71795;
$shadow: 3px 2px 4px #D72EDD;
$shadow-underline: 0px 8px 4px -6px #91D9FF;
$text-shadow: 3px 2px 4px #D72EDD;
$shadow-hover: 3px 2px 4px #91D9FF;
$stats-shadow: 0 1px 6 $bg-primary;

// Colors
$light-pink: #FF668D;
