// Colors
$light-pink: #ff668d;
$purple: #d72edd;

// Background Colors
$bg-primary: #ff668d;
$bg-secondary: #162452;
$bg-thirdary: #d9ffff;
$bg-menu: rgba(255, 102, 141, 0.73);

// Header Text Colors
$h1-primary: #652342;
$h2-primary: #210d34;
$h2-secondary: #d9ffff;

// Text Colors
$p-primary: #91d9ff;
$p-secondary: #ff668d;
$p-thirdary: #162452;

// Shadows
$h1-shadow: 3px 2px 4px #e71795;
$shadow: 3px 2px 4px $purple;
$shadow-pag: 1px 1px 3px $purple;
$shadow-underline: 0px 8px 4px -6px #91d9ff;
$text-shadow: 3px 2px 4px $purple;
$shadow-hover: 3px 2px 4px #91d9ff;
$stats-shadow: 0 1px 6 $bg-primary;
